<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Try these links:<br>
    To test the login, you can check the ID and password,see the list link. You can also verify the insertion, updation and deletion of records through the list link<br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/studentLogin" > Student Login </a><br>
  In the student login page, if the login is successful, it'll display a list of subjects(time table). Otherwise it will print login unsuccessful<br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/teacherLogin" > Teacher Login </a><br>
  In the teacher login page, if the login is successful, it'll display a list of students. Otherwise it will print login unsuccessful<br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/adminLogin" > Admin Login </a><br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/getallstudents/" > All Student List </a> <br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/getallsubjects/" > All Subject List </a> <br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/getallteachers/" > All Teachers List </a> <br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/getalladmins/" > All Admins List </a> <br>
  <a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/getholidays/" > Holiday List </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/insertTeacher/" > Insert students </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/insertStudent/" > Insert teachers </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/insertAdmin/" > Insert admins </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/insertSubject/" > Insert Subjects </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/deleteStudent/" > Delete students </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/deleteTeacher/" > Delete teachers </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/deleteAdmin/" > Delete admins </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/deleteSubject/" > Delete Subjects </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/updateStudent/" > Update students Not password</a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/updateTeacher/" > Update teachers Not Password</a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/updateAdmin/" > Update admins Not Password</a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/updateSubject/" > Update Subjects </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/resetStudentPassword/" > Reset Password of Student </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/resetTeacherPassword/" > Reset Password of Teacher </a> <br>
<a href = "https://qmul-cloud-computing-mini-proj.herokuapp.com/resetAdminPassword/" > Reset Password of Admin </a> <br>
  </body>
</html>
