<html>
<head>
  <title> Teacher Reset Password</title>
  <body>
    <h1> Teacher Reset Password</h1>
    <form action="{{ url_for('resetTeacherPassword') }}" method="post">
  Teacher ID:
  <input type="number" name="subid" value="" required><br>
  Password:
  <input type="password" name="pwd" value="" required>  <br>
  <button type="submit" name="submit">Submit</button>
  <button type="reset" name="reset">Reset</button><br>
  <label style="font-size: 50;">{{ result }}</label>
  </form>
  </body>
